
body {
    background-color: #1d1d1d;
    margin: 0;
    }

h1 {
    color: #66BFBF;
    font-size : 3rem;
    margin:  0 0 5%;
    }

h3 {line-height: 2;}

p {line-height: 2;}





 @media (min-width: 768px) and (max-width: 991px) {
        .navbar-nav .open .dropdown-menu {
            position: static;
            float: none;
            width: auto;
            margin-top: 0;
            background-color: transparent;
            border: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
            z-index:99;
        }
        .navbar-nav .open .dropdown-menu > li > a {
            line-height: 20px;
        }
        .navbar-nav .open .dropdown-menu > li > a,
        .navbar-nav .open .dropdown-menu .dropdown-header {
            padding: 5px 15px 5px 25px;
        }
        .dropdown-menu > li > a {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: normal;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap;
        }
        .navbar-header {
            float: none;
        }
        .navbar-toggle {
            display: block;
        }
        .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        }
        .navbar-collapse.collapse {
            display: none!important;
        }
        .navbar-nav {
            float: none!important;
            /*margin: 7.5px -15px;*/
            margin: 7.5px 50px 7.5px -15px
        }
        .navbar-nav>li {
            float: none;
        }
        .navbar-nav>li>a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .navbar-text {
            float: none;
            margin: 15px 0;
        }
        /* since 3.1.0 */
        .navbar-collapse.collapse.in {
            display: block!important;
        }
        .collapsing {
            overflow: hidden!important;
        }
    }







.nav_link {
    font-size: 2rem;
}

#title {
    background-image: url('workspace-medium.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
  }

.name {
    padding-bottom: 2rem;
    font-size: 450%;
    margin: 2% 20%;
    padding-top: 10%;
    font-family: 'Sacramento', cursive;
}

@media (max-width: 1028px){
    #title {
        text-align: center;
    }

    .name {
        padding-top: 20%;
         color: white;
        font-size: 600%;
    }
}

.backend {
  color: #66FCF1;
  font-size: 150%;
  margin: 0 20% 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

.contact_button {
     margin: 2% 20% 7%;
}

/* section 2 */
#about {
  padding: 5% 5% 0;
}


@media (max-width: 1028px){
    #about{
        text-align: center;
    }

}

.about-picture {
    height: 50%;
    width: 50%;
    margin: 7% 7% 0;
    padding: 0;
}

.feature-title {
    color: #fff;
    padding-bottom: 2%;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 1028px) {
    .feature-title {
        font-size: 2rem;
    }
    .about-header {
        font-size: 5rem;
    }
}

.effect-image {
    width: 100%;
}

#skills {
    background-color: #dcdcdc;
    text-align: center;
}

.skill-header {
    margin: 7% 0;
    text-decoration: underline;
}

.skill-picture {
  height: 70%;
  width: 70%;
  position: relative;
  opacity: 0.5;
}

.skill-picture:hover {
  opacity: 1.0;
  width: 80%;
}


#contact {
    color: white;
    padding: 5% 5% 0;
}



.contact-element {
    background-color: #dcdcdc;
    color:black;
     width: 80%;
     margin-bottom: 2%;
     padding: 0.5%;
}


.contact-header {
    margin-bottom: 2%;
}

@media (max-width: 1028px){
        #contact {
            text-align: center;
        }
       .contact-element{
        width: 100%;
        height: 10rem;
        margin-bottom: 3%;
       }
       .contact-text{
       margin: 0 10%;
       }
}

.contact-picture {
    height: 50%;
    width: 50%;
    text-align: center;
    top: 25%;
    bottom: 25%;
}

.contact-picture:hover {
  width: 60%;
  transform: rotate(10deg);
}

#footer {
 text-align: center;
 background-color: black;
}

.icon {
    color: #66BFBF;
    margin: 1.5%;
}
