
body {
    background-color: #1d1d1d;
    margin: 0;
    }

h1 {
    color: #66BFBF;
    font-size : 3rem;
    margin:  0 0 5%;
    }

h3 {line-height: 2;}

p {line-height: 2;}






#title {
    background-image: url('workspace-medium.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
  }

.name {
    padding-bottom: 2rem;
    font-size: 450%;
    margin: 2% 20%;
    padding-top: 10%;
    font-family: 'Sacramento', cursive;
}

@media (max-width: 	1242px){
    #title {
        text-align: center;
    }

    .name {
        padding-top: 20%;
         color: white;
        font-size: 800%;
    }
}

.backend {
  color: #66FCF1;
  font-size: 150%;
  margin: 0 20% 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

.contact_button {
     margin: 2% 20% 7%;
}

/* section 2 */
#about {
  padding: 5% 5% 0;
}


@media (max-width: 	1242px){
    #about{
        text-align: center;
    }

}

.about-picture {
    height: 50%;
    width: 50%;
    margin: 7% 7% 0;
    padding: 0;
}

.feature-title {
    color: #fff;
    padding-bottom: 2%;
    font-size: 0.5rem;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 	1242px) {
    .feature-title {
        font-size: 4rem;
    }
    .about-header {
        font-size: 6rem;
    }
}

.effect-image {
    width: 100%;
}

#skills {
    background-color: #dcdcdc;
    text-align: center;
}

.skill-header {
    margin: 7% 0;
    text-decoration: underline;
}

.skill-picture {
  height: 70%;
  width: 70%;
  position: relative;
  opacity: 0.5;
}

.skill-picture:hover {
  opacity: 1.0;
  width: 80%;
}


#contact {
    color: white;
    padding: 5% 5% 0;
}



.contact-element {
    background-color: #dcdcdc;
    color:black;
     width: 100%;
     margin-bottom: 3%;
     padding: 0.5%;
}


.contact-header {
    margin-bottom: 2%;
}

@media (max-width: 	1242px){
        #contact {
            text-align: center;
        }

       .contact-without-message {
         height: 30rem;
       }
       .contact-text{
       margin: 0 10%;
       }
}

.contact-picture {
    height: 50%;
    width: 50%;
    text-align: center;
    top: 25%;
    bottom: 25%;
}

.contact-picture:hover {
  width: 60%;
  transform: rotate(10deg);
}

#footer {
 text-align: center;
 background-color: black;
}

.icon {
    color: #66BFBF;
    margin: 5%;
    padding: 0 10% 0;
}
